body {
	font-family: arial;
}
label.block, label.block input, label.block textarea {
	display: block;
	width: 100%;
}
label {
	font-weight: 600;
	font-size: 14px;
}
input, textarea {
	border: 1px solid #ccc;
	padding: 5px;
}
label {
	margin-top: 15px;
}
.content {
	width: 300px;
}
.center {
	margin: auto auto;
}
ul {
	list-style-type: none;
	padding: 0;
}

li .header {
	font-weight: 800;
}

ul li ul li {
	margin-left: 10px;
}